<div class="row">
  <div *ngFor="let member of members" class="col-2">
      <app-member-card [member]="member" ></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center"  *ngIf="pagination">
  <pagination
     [boundaryLinks]="true"
     [totalItems]="pagination.totalItems"
     [itemsPerPage]="pagination.itemsPerPage"
     [(ngModel)]="pagination.currentPage"
     (ngModelChange)="pageChanged($event)"
     previousText="&lsaquo;"
     nextText="&rsaquo;"
     firstText="&laquo;"
     lastText="&raquo;">

</pagination>

</div>

<!-- ngfor dùng để lặp các phần tử của 1 mảng , trong trường hợp này là danh sách các thành viên
  let member of members , mỗi lần lặp biến member sẽ nhận giá trị một pt trong mảng
  [member]= member truyền giá trị biến member vào thuộc tính member của cpm
-->

